body{
    font-family: 'Times New Roman', Times, serif;
}

.custom-navbar {
    background-color: darkblue;
}

.custom-navbar .navbar-brand {
    color: azure;
}

.navbar-space {
    margin-top: 50px;
}

.second-navbar .navbar-brand {
    color: black;
}

.custom-card {
    height: 25vh;
}

.custom-card .card-img {
    height: 100%;
    object-fit: cover;
}

.container-fluid .card {
    padding: 10px;
}

.container-fluid .card-title {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: xx-large;
}

.container-fluid .col-md-8 .card-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.footer-links ul {
    list-style: none;
    text-decoration: none;
}

.footer-links a {
    color: white;
    text-decoration: none;
    scroll-behavior: smooth;
}

h3{
    color: orange;
}